@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: poppins;
    margin: 0;
}

.logo >img{
    width: 75px;
    height: 57px;
}

.logo{
    margin-top: 40px;
    margin-left: 20px;
}

.groupeCree{
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.membre{
    display: flex;
    flex-direction: row;
    margin-bottom: 52px;
}

.membre >img{
    margin-left: 10px;
}

.bouton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.boutonContinuer{
    height: 45px;
    width: 350px;
    background-color: #0bab5e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 8px;
}

.menu{
    height: 95px;
    background-color: #F6F6F6;
    color: #555555;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 38px;
}

h4{
    margin-top: 8px;
    margin-bottom: 0;
}

.menu img{
    width: 32px;
    height: 32px;
}

.accueil{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profil{
    display: flex;
    flex-direction: column;
    align-items: center;
}